<script src="/PetShop_Cliente/js/Xandelier.js"></script>
<script src="/PetShop_Cliente/js/Facebook.js"></script>
<script src="/PetShop_Cliente/js/login.js"></script>
<script src="/PetShop_Cliente/js/Layout.js"></script>
<script>
getLayout(function(){
	ExecFacebook(function(usuario){
		AjaxPuro({
			_type: "POST",
			_path: "usuarios",
			_arguments: JSON.stringify({email: usuario.email, senha: "pass@word1", perfilAcesso: 0}),
			_done: function (data) {
				setCookie("userImage", usuario.picture.data.url);
				location.href = "pessoa.html?"+data+"&"+usuario.name+"&"+usuario.gender;
			},
			_error: function (request, textStatus, error) {
				alert(error);
			}
		});
	});
	document.title = "Cadastrar novo Usuário";
	getElement("#Enviar").addEventListener("click", Cadastrar);
	getElement("#perfilAcesso").addEventListener("change", escondeLogFacebook);
});
</script>

<div class="form-horizontal">

	<div class="form-group">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<h1>Cadastro de Usuario:</h1>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-4" for="email"> Email: </label>
		<div class="col-lg-4">
			<input id="email" type="text" class="form-control usuarioAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="senha"> Senha: </label>
		<div class="col-lg-4">
			<input id="senha" type="password" class="form-control usuarioAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="PerfilAcesso">
			Perfil de Acesso: </label>
		<div class="col-lg-4">
			<select id="perfilAcesso" class="form-control usuarioAtt">
				<option value="0">Pessoa</option>
				<option value="1">Instituição</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-4 col-md-4">
			<button class="btn btn-default btn-lg btn-block btn-primary"
				id="Enviar">Enviar</button>
		</div>
		<div class="col-md-4" id="loginFB">
			<fb:login-button scope="public_profile,email"
				onlogin="checkLoginState();">
			</fb:login-button>
			<div>Logue pelo Facebook</div>
		</div>
	</div>
</div>

<script>
function escondeLogFacebook(){
	show('loginFB', this.value === "0");
};

function Cadastrar() {
	if (!getElement(".usuarioAtt").some(d => d.value==="")) {
		var usuario = {};
		getElement(".usuarioAtt").forEach(function(el){
			usuario[el.id] = (el.type === "checkbox") ? el.checked : 
				(el.type === "number" || el.tagName === "SELECT") ? 
						parseFloat(el.value) : el.value;
		});		
		AjaxPuro({
			_type: "POST",
			_path: "usuarios",
			_arguments: JSON.stringify(usuario),
			_done: function (data) {
				window.location.href = ((usuario.perfilAcesso==0) ? "pessoa.html?" : "instituicao.html?id=")+data;
			},
			_error: function (request, textStatus, error) {
				alert(error);
			}
		});
	} else alert("Preencha todos os campos para cadastrar");
};
</script>