<script src="/PetShop_Cliente/js/Xandelier.js"></script>
<script src="/PetShop_Cliente/js/login.js"></script>
<script src="/PetShop_Cliente/js/Layout.js"></script>
<script>
getLayout(function(){
	document.title = "Cadastrar nova Instituição";
	getElement("#Enviar").addEventListener("click", Cadastrar);
});
</script>

<div class="form-horizontal">
	<div class="form-group">
		<div class="col-lg-4"></div>
		<div class="col-lg-6">
			<h1>Cadastro de Instituição:</h1>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-4" for="codigo"> Codigo: </label>
		<div class="col-lg-4">
			<input id="codigo" type="text" class="form-control instituicaoAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="nome"> Nome: </label>
		<div class="col-lg-4">
			<input id="nome" type="text" class="form-control instituicaoAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="cnpj"> CNPJ: </label>
		<div class="col-lg-4">
			<input id="cnpj" type="text" class="form-control instituicaoAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="endereco">
			Endereco: </label>
		<div class="col-lg-4">
			<input id="endereco" type="text" class="form-control instituicaoAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="telefone">
			Telefone: </label>
		<div class="col-lg-4">
			<input id="telefone" type="text" class="form-control instituicaoAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="email"> Email: </label>
		<div class="col-lg-4">
			<input id="email" type="text" class="form-control instituicaoAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="tipo"> Tipo: </label>
		<div class="col-lg-4">
			<select id="tipo" class="form-control instituicaoAtt">
				<option value="0">Canil</option>
				<option value="1">Gatil</option>
				<option value="2">Ambos</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<button class="btn btn-default btn-lg btn-block btn-primary"
				id="Enviar">Enviar</button>
		</div>
	</div>
</div>

<script>
function Cadastrar() {
	if (!getElement(".instituicaoAtt").some(d => d.value==="")) {
		var instituicao = {usuario: { "id":location.search.split('id=')[1]}};
		getElement(".instituicaoAtt").forEach(function(el){
			instituicao[el.id] = (el.type === "checkbox") ? el.checked : 
				(el.type === "number" || el.tagName === "SELECT") ? parseFloat(el.value) : el.value;
		});
		
		AjaxPuro({
		    _type: "POST",
		    _path: "instituicoes",
		    _arguments: JSON.stringify(instituicao),
		    _done: function (data) {
		    	 alert(data);
			     window.location.href = "login.html";
		    },
		    _error: function (request, textStatus, error) {
		        var err = textStatus + ", " + error;
		        console.log("Request Failed: " + err);
		    }
		});
	} else alert("Preencha todos os campos para cadastrar");
};
</script>
