<script src="/PetShop_Cliente/js/Xandelier.js"></script>
<script src="/PetShop_Cliente/js/Facebook.js"></script>
<script src="/PetShop_Cliente/js/login.js"></script>
<script src="/PetShop_Cliente/js/Layout.js"></script>
<script>
getLayout(function(){
	ExecFacebook(function(usuario){
		AjaxPuro({
		    _type: "POST",
		    _path: "usuarios/autenticar",
		    _arguments: JSON.stringify({email: usuario.email, senha: "pass@word1" }),
		    _done: function (data) {
		    	setCookie("userCurrent",JSON.stringify(data));
		    	window.location.href = "../Home/home.html";
		    },
		    _error: function (request, textStatus, error) {
		        alert(error);
		    }
		});
	});
	document.title = "Login";
	getElement("#Enviar").addEventListener("click", Logar);
});
</script>

<div class="form-horizontal">
	<div class="form-group">
		<div class="col-lg-5"></div>
		<div class="col-lg-6">
			<h1>Login:</h1>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="email"> Email: </label>
		<div class="col-lg-4">
			<input id="email" type="text" class="form-control usuarioAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="senha"> Senha: </label>
		<div class="col-lg-4">
			<input id="senha" type="password" class="form-control usuarioAtt" />
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-4 col-md-4">
			<button class="btn btn-default btn-lg btn-block btn-primary"
				id="Enviar">Enviar</button>
		</div>
		<div class="col-md-4">
			<fb:login-button scope="public_profile,email"
				onlogin="checkLoginState();">
			</fb:login-button>
			<div id="status"></div>
		</div>
	</div>
</div>

<script>
function Logar() {
	if (!getElement(".usuarioAtt").some(d => d.value==="")) {
		var usuario = {};
		getElement(".usuarioAtt").forEach(function(el){
			usuario[el.id] = (el.type === "checkbox") ? el.checked : 
				(el.type === "number" || el.tagName === "SELECT") ? parseFloat(el.value) : el.value;
		});
			
		AjaxPuro({
		    _type: "POST",
		    _path: "usuarios/autenticar",
		    _arguments: JSON.stringify(usuario),
		    _done: function (data) {
		    	setCookie("userCurrent",JSON.stringify(data));
		    	window.location.href = "../Home/home.html";
		    },
		    _error: function (request, textStatus, error) {
		        alert(error);
		    }
		});
	} else alert("Preencha todos os campos para cadastrar");
};
</script>