<script src="/PetShop_Cliente/js/Xandelier.js"></script>
<script src="/PetShop_Cliente/js/login.js"></script>
<script src="/PetShop_Cliente/js/Layout.js"></script>
<script>
getLayout(function(){
	document.title = "Cadastrar nova Pessoa";
	getElement("#Enviar").addEventListener("click", Cadastrar);
});
</script>
<div class="form-horizontal">

<div class="form-group">
		<div class="col-lg-4"></div>
		<div class="col-lg-6">
		<h1>Cadastro de Pessoa:</h1>
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-lg-4" for="nomeSocial"> Nome Social: </label>
		<div class="col-lg-4">
			<input id="nomeSocial" type="text" class="form-control pessoaAtt requiredAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="dataNascimento"> Data Nascimento: </label>
		<div class="col-lg-4">
			<input id="dataNascimento" type="date" class="form-control pessoaAtt requiredAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="nomeParente1"> Nome Parente 1: </label>
		<div class="col-lg-4">
			<input id="nomeParente1" type="text" class="form-control pessoaAtt requiredAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="nomeParente2"> Nome Parente 2: </label>
		<div class="col-lg-4">
			<input id="nomeParente2" type="text" class="form-control pessoaAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="telefone"> Telefone: </label>
		<div class="col-lg-4">
			<input id="telefone" type="text" class="form-control pessoaAtt requiredAtt" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-4" for="genero"> Gênero: </label>
		<div class="col-lg-4">
			<select id="genero" class="form-control pessoaAtt requiredAtt">
				<option value="0">Feminino</option>
				<option value="1">Masculino</option>
				<option value="2">Outro</option>
			</select>
		</div>
	</div>	
	<div class="form-group">
		<label class="control-label col-lg-4" for="genero"> Etnia: </label>
		<div class="col-lg-4">
			<select id="genero" class="form-control pessoaAtt requiredAtt">
				<option value="0">Branca</option>
				<option value="1">Negra</option>
				<option value="2">Parda</option>
				<option value="2">Amarela</option>
				<option value="2">Outro</option>
			</select>
		</div>
	</div>	
	<div class="form-group">
		<label class="control-label col-lg-4" for="nomeConjuge"> Nome Conjuge: </label>
		<div class="col-lg-4">
			<input id="nomeConjuge" type="text" class="form-control pessoaAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="religiao"> Religiao: </label>
		<div class="col-lg-4">
			<input id="religiao" type="text" class="form-control pessoaAtt requiredAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="possuiDeficienciaFisica">
			Possui Deficiencia Fisica: </label>
		<div class="col-lg-4 checkbox">
			<input id="possuiDeficienciaFisica" type="checkbox" class="animalAtt requiredAtt"
				style="margin-left: 0px;" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<button class="btn btn-default btn-lg btn-block btn-primary"
				id="Enviar">Enviar</button>
		</div>
	</div>
</div>

<script>
function Cadastrar() {
	if (!getElement(".pessoaAtt requiredAtt").some(d => d.value==="")) {
		var pessoa = {};
		getElement(".pessoaAtt").forEach(function(el){
			pessoa[el.id] = (el.type === "checkbox") ? el.checked : 
				(el.type === "number" || el.tagName === "SELECT") ? parseFloat(el.value) : el.value;
		});
		pessoa.usuario = { "id":location.search.split('id=')[1]};
		console.log(pessoa);
		AjaxPuro({
		    _type: "POST",
		    _path: "pessoas",
		    _arguments: JSON.stringify(pessoa),
		    _done: function (data) {
		    	 alert(data);
			     window.location.href = "../Home/home.html";
		    },
		    _error: function (request, textStatus, error) {
		        var err = textStatus + ", " + error;
		        console.log("Request Failed: " + err);
		    }
		});
	} else alert("Preencha todos os campos para cadastrar");
};
</script>
