<script src="/PetShop_Cliente/js/Xandelier.js"></script>
<script src="/PetShop_Cliente/js/login.js"></script>
<script src="/PetShop_Cliente/js/Layout.js"></script>
<script>
getLayout(function(){
	document.title = "Cadastrar novo Animal";
	getElement("#Enviar").addEventListener("click", Cadastrar);
});
</script>



<div class="form-horizontal">

	<div class="form-group">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
		<h1>Cadastro de Animais:</h1>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-4" for="codigo"> Código: </label>
		<div class="col-lg-4">
			<input id="codigo" type="text" class="form-control animalAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="nomeAdotivo"> Nome
			Adotivo: </label>
		<div class="col-lg-4">
			<input id="nomeAdotivo" type="text" class="form-control animalAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="tipo"> Tipo: </label>
		<div class="col-lg-4">
			<select id="tipo" class="form-control animalAtt">
				<option value="0">Cachorro</option>
				<option value="1">Gato</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="genero"> Gênero: </label>
		<div class="col-lg-4">
			<select id="genero" class="form-control animalAtt">
				<option value="0">Macho</option>
				<option value="1">Femea</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="idade"> Idade: </label>
		<div class="col-lg-4">
			<input id="idade" type="number" class="form-control animalAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="raca"> Raça: </label>
		<div class="col-lg-4">
			<input id="raca" type="text" class="form-control animalAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="disponivel">
			Disponível: </label>
		<div class="col-lg-4 checkbox">
			<input id="disponivel" type="checkbox" class="animalAtt"
				style="margin-left: 0px;" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<button class="btn btn-default btn-lg btn-block btn-primary"
				id="Enviar">Enviar</button>
		</div>
	</div>
</div>

<script>
function Cadastrar() {
		if (!getElement(".animalAtt").some(d => d.value==="")) {
			var animal = {};
			getElement(".animalAtt").forEach(function(el){
				animal[el.id] = (el.type === "checkbox") ? el.checked : 
					(el.type === "number" || el.tagName === "SELECT") ? parseFloat(el.value) : el.value;
			});
			
			
			AjaxPuro({
			    _type: "GET",
			    _path: "instituicoes/usuario",
			    _arguments: JSON.parse(getCookie("userCurrent")).id,
			    _done: function (data) {
			    	animal.instituicao = data;
			    	AjaxPuro({
					    _type: "POST",
					    _path: "animais",
					    _arguments: JSON.stringify(animal),
					    _done: function (data) {
					        alert(data);
					        window.location.href = "home.html";
					    },
					    _error: function (request, textStatus, error) {
					        var err = textStatus + ", " + error;
					        console.log("Request Failed: " + err);
					    }
					});
			    },
			    _error: function (request, textStatus, error) {
			        var err = textStatus + ", " + error;
			        console.log("Request Failed: " + err);
			    }
			});
			
			
			
		} else alert("Preencha todos os campos para cadastrar");
	};
</script>