<script src="/PetShop_Cliente/js/Xandelier.js"></script>
<script src="/PetShop_Cliente/js/login.js"></script>
<script src="/PetShop_Cliente/js/Layout.js"></script>
<script>
	getLayout(function() {
		AjaxPuro({
			_path : "animais",
			_arguments : window.location.search.substring(1),
			_done : function(data) {
				document.title = "Detalhes do " + data.tipo + " "
						+ data.nomeAdotivo;
				getElement(".animalAtt").forEach(function(el) {
					if (el.type === "checkbox")
						el.checked = data[el.id];
					else
						el.value = data[el.id];
					el.toggleAttribute("disabled", "disabled");
				});
				
			},
			_error : function(request, textStatus, error) {
				var err = textStatus + ", " + error;
				console.log("Request Failed: " + err);
			}
		});
		
		getElement("#criarAnuncio").addEventListener("click", function(){
			window.location.href = "../anuncios/create.html?id="+window.location.search.substring(1);
			});
		
	});
</script>

<div class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-lg-3" for="codigo"> Código: </label>
		<div class="col-lg-5">
			<input id="codigo" type="text" class="form-control animalAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-3" for="nomeAdotivo"> Nome
			Adotivo: </label>
		<div class="col-lg-5">
			<input id="nomeAdotivo" type="text" class="form-control animalAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-3" for="tipo"> Tipo: </label>
		<div class="col-lg-5">
			<select id="tipo" class="form-control animalAtt">
				<option value="Cachorro">Cachorro</option>
				<option value="Gato">Gato</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-3" for="genero"> Gênero: </label>
		<div class="col-lg-5">
			<select id="genero" class="form-control animalAtt">
				<option value="Macho">Macho</option>
				<option value="Femea">Femea</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-3" for="idade"> Idade: </label>
		<div class="col-lg-5">
			<input id="idade" type="number" class="form-control animalAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-3" for="raca"> Raça: </label>
		<div class="col-lg-5">
			<input id="raca" type="text" class="form-control animalAtt" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-3" for="disponivel">
			Disponível: </label>
		<div class="col-lg-5 checkbox">
			<input id="disponivel" type="checkbox" class="animalAtt"
				style="margin-left: 0px;" />
		</div>
	</div>
	
	<div class="form-horizontal">
		<div class="form-group">
			<div class="col-lg-3"></div>
			<div class="col-lg-5">
				<button class="btn btn-default btn-lg btn-block btn-primary" id="criarAnuncio">Criar Anúncio</button>
			</div>
		</div>
	</div>
	
	<div class="form-horizontal">
		<div class="form-group">
			<div class="col-lg-3"></div>
			<div class="col-lg-5">
				<button class="btn btn-default btn-lg btn-block btn-primary"
					onclick="history.back()">Voltar</button>
			</div>
		</div>
	</div>
</div>