<script src="/PetShop_Cliente/js/Xandelier.js"></script>
<script src="/PetShop_Cliente/js/login.js"></script>
<script src="/PetShop_Cliente/js/Layout.js"></script>
<script>
var instituicaoId;
var animal;
getLayout(function(){
	AjaxPuro({
	    _type: "GET",
	    _path: "instituicoes/usuario",
	    _arguments: JSON.parse(getCookie("userCurrent")).id,
	    _done: function (data) {
	    	instituicaoId = data;
	    },
	    _error: function (request, textStatus, error) {
	        var err = textStatus + ", " + error;
	        console.log("Request Failed: " + err);
	    }
	});	
	document.title = "Cadastrar nova Adoção";
	getElement("#Enviar").addEventListener("click", Cadastrar);
	
	AjaxPuro({
	    _type: "GET",
	    _path: "animais",
	    _arguments: location.search.split('id=')[1],
	    _done: function (data) {
	    	animal = data;
	    	getElement("#animal").value = animal.codigo;
	    	getElement("#animal").toggleAttribute("disabled", "disabled");
	    },
	    _error: function (request, textStatus, error) {
	        var err = textStatus + ", " + error;
	        console.log("Request Failed: " + err);
	    }
	});	
	
	
	AjaxPuro({
	    _type: "GET",
	    _path: "pessoas/todos",
	    _done: function (data) {
	    	data.forEach(a => 
	    	getElement("#pessoa").append(document.createElement("OPTION").config({value: a.id,innerHTML: a.nomeSocial})));

	    },
	    _error: function (request, textStatus, error) {
	        var err = textStatus + ", " + error;
	        console.log("Request Failed: " + err);
	    }
	});	
	
	
	});
</script>



<div class="form-horizontal">

	<div class="form-group">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
		<h1>Cadastro de Adoção:</h1>
		</div>
	</div>

	<div class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-lg-4" for="codigo"> Id do Animal: </label>
		<div class="col-lg-4">
			<input id="animal" type="text" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="tipo"> Pessoa: </label>
		<div class="col-lg-4">
			<select id="pessoa" class="form-control">
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4" for="dataNascimento"> Data da Adocao: </label>
		<div class="col-lg-4">
			<input id="dataAdocao" type="date" class="form-control requiredAtt" />
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<button class="btn btn-default btn-lg btn-block btn-primary"
				id="Enviar">Enviar</button>
		</div>
	</div>
</div>

<script>
function Cadastrar() {
	if (!getElement(".adocaoAtt").some(d => d.value==="")) {
		var adocao = {instituicao: instituicaoId, 
					  animal: animal,
					  pessoa: {id: getElement("#pessoa").value},
					  dataAdocao: getElement("#dataAdocao").value };	
		console.log(adocao);
		AjaxPuro({
			_type: "POST",
			_path: "adocoes",
			_arguments: JSON.stringify(adocao),
			_done: function (data) {		
				alert(data);
				window.location.href = "../animais/home.html";
			},
			_error: function (request, textStatus, error) {
				var err = textStatus + ", " + error;
				console.log("Request Failed: " + err);
			}
		});
	} else alert("Preencha todos os campos para cadastrar");
};
</script>